.UserTable {
  width: 100%;
  border-collapse: collapse;
}

.TableHeader,
.TableData {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;

  &:hover {
    background-color: rgb(178, 159, 127, 0.8);
  }
}

.TableHeader {
  background-color: #f2f2f2;
}

.redIcon {
  color: red;
}
.editIcon {
  color: green;
}
.tableCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 159, 127, 0.5);
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .UserTable {
    overflow-x: auto;
  }
}
