$primaryColor: #6d7993;
$secondaryColor: #0c3b2e;

.container {
  background-color: #6d7993;
}

.tableCell {
  color: $secondaryColor;
}

.button {
  background-color: $secondaryColor;
  color: white;
  margin: 10px;

  &:hover {
    background-color: lighten($secondaryColor, 10%);
  }
}
.tasksContainer {
  padding: 20px;
}
.redIcon {
  color: red;
}
.green {
  color: green;
}
.TableRow {
  .tableName {
    background-color: lighten($secondaryColor, 25%);
  }
  background-color: rgb(178, 159, 127, 0.5);

  &:hover {
    background-color: rgb(178, 159, 127, 0.8);
  }
}
.yellowIcon {
  color: yellow;
}
.leftText {
  text-align: left;
}
.center {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
