$brownColor: #8b4513;
$greenColor: #008000;

.Button_root {
  background-color: $brownColor !important;
  color: white !important;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  justify-content: right;
}

.Button_root:hover {
  background-color: darken($greenColor, 10%) !important;
}

.containerLogin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../../src/assets/pictures/hero.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .Field_root {
    margin-bottom: 20px;
  }
}

.formContainer {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formTitle {
  font-size: 30px;
  color: #452005;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-family: 'Pacifico', cursive;
}

.errorText {
  color: red;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
}

.registerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
