$brownColor: #8B4513; 
$greenColor: #008000; 

.Button_root {
  background-color: $brownColor !important; 
  color: white !important; 
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 90vw;
  max-width: 300px; 
}

@media (min-width: 768px) { 
  .Button_root {
    width: auto;
  }
}
