.container {
  background-image: url('../../assets//pictures//no_entry.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;
  border: none;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
    height: 90vh;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90vw;
    height: 90vh;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60vw;
    height: 80vh;
  }
}
